<!doctype html>

<html ng-app="demo">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Hello world</title>
<script src="javascript/lib/angular.js"></script>
<script src="javascript/lib/angular-resource.js"></script>
 <script src="javascript/filters.js"></script>
 <script src="javascript/directives.js"></script>
<script src="javascript/controllers.js"></script>
</head>
<body>
	<div>
	
	<div ng-controller="EerstController">
		<input type="text" ng-model="order.ordernummer"/>
		straat : <input type="text" ng-model="order.adress.straat"/>
		huisnummer: <input type="text" ng-model="order.adress.huisnummer"/>
		postcode:<input type="text" ng-model="order.adress.postcode"/>
		woonplaats:<input type="text" ng-model="order.adress.woonplaats"/>	
		
		<button x-ng-click="opslaan()">Opslaan</button>	
	</div>
	


</body>
</html>


